body {

    /* gif background */
    background-image: url('janinehuang.github.io/bittersweetbackground.gif');
    background-size: cover;
    overflow-y:scroll;
}

p {
    font-family:"Quicksand";
    font-size:20px;
    color:white;
}

h1 {
    font-size:60px;
    font-family:"Quicksand";
    color:white;
    opacity: 0.85;
}

textarea {
    width: 80%;
    height: 250px;
    padding: 20px 20px;
    box-sizing: border-box;
    border: 0px solid #ccc;
    border-radius: 6px;
    resize: none;
    overflow: auto;
    
    background-color: rgba(248,248,248,0.20);
    
    font-size:17px;
    font-family:"Quicksand";
    color:white;
}

:focus {
    outline-color: transparent;
    outline-style: none;
}
