body {
    /* gif background */
    background-image: url('janinehuang.github.io/inlovebackground.gif');
    background-size: cover;
    overflow-y:scroll;
}

p {
    font-family:"Quicksand";
    font-size:20px;
    color:white;
}

h1 {
    font-size:60px;
    font-family:"Quicksand";
    color:white;
    opacity: 0.85;
}

textarea {
    width: 80%;
    height: 500px;
    padding: 5px 15px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    overflow: auto;
    opacity: 0.25;
    
    font-size:15px;
    font-family:"Quicksand";
    color:black;
}
