body {
    background-image:url('janinehuang.github.io/default-background.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
    
    /*fonts*/
    font-family:"Hero";
    font-size:20px;
}
h1 {
    font-size:30px;
    font-family:"Hero";
}

textarea {
    width: 80%;
    height: 250px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    overflow: auto;
}
