body {
    /* GIF background */
    background-color: #CSC1C0;
    
    
    /*fonts*/
    font-family:"Hero";
    font-size:20px;
}
h1 {
    font-family:"Hero";
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: white;
}
